<h1><%= @topic.name %></h1>

<% @bookmarks.each do |bookmark| %>
  <div class="media">
    <div class="mdeia-body">
      <h4 class="media-heading">
        <%= link_to bookmark.url, bookmark.url
      </h4>
    </div>
  </div>
<% end %>
