<br />
<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <h1>BLOCMARKS</h1>
        <p>
          <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or
          <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
        </p>
        <p>An application that allows users to bookmark URLs via email, peruse other user's bookmarks and maintain a personal index of categorized bookmarks.</p>
    </div>
    <div class="col-md-6">
      <p>
        <%= image_tag 'smiley.jpeg' %>
      </p>
    </div>
</div>