@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.nav {
  margin-top: 3px;
}

h1 {
  color: #4383CC;
}

body {
  background-color: #A3ABB5;
}

.media-heading img {
  width: 200px;
}

p.notice {
  margin-top:8px;
  text-align: center;
}

h1.head, p.links, p.info, p.img {
  text-align: center;
}